<template>
  <div class="c-app flex-row align-items-center">
    <CContainer>
      <CRow class="justify-content-center">
        <CCol md="8">
          <CCardGroup>
            <CCard class="p-4">
              <CCardBody>
                <Form><CRow>
                  <cRow class="justify-content mx-4 mb-4">
                        <CImg
                           src="https://disdukcapil.bandung.go.id/api-epunten/public/assets/img/logo2.png"
                           width = '120px'
                           height = '120px'
                         />
                       </CRow>
                  <h1>Register</h1>
                </CRow>
                  <!-- <p class="text-muted">Masuk ke akun anda</p> -->
                  <v-text-field
                    label="Nik Kepala Keluarga"
                    v-model="nik"
                    name="nik"
                    prepend-icon="mdi-account"
                    :rules="[v => !!v || 'NIK harus diisi', v => v.length >= 15 || 'NIK kurang dari 16 digit',v => v.length <= 17 || 'NIK maksimal 16 digit',v => !/([!@$%a-z])/.test(v) || 'Format yang anda masukan salah']"
                    :counter="16"
                    data-vv-name="nik"
                    required
                    maxlength="16"
                  ></v-text-field>
                  <v-text-field
                    label="Nomor Kartu Keluarga"
                    v-model="no_kk"
                    name="no_kk"
                    :rules="[v => !!v || 'NIK harus diisi', v => v.length >= 15 || 'Nomer KK kurang dari 16 digit',v => v.length <= 17 || 'Nomer KK maksimal 16 digit',v => !/([!@$%a-z])/.test(v) || 'Format yang anda masukan salah']"
                    prepend-icon="mdi-account"
                    :counter="16"
                    required
                    maxlength="16"
                  ></v-text-field>
                  <v-text-field
                    label="Nama Kepala Keluarga"
                    v-model="name"
                    name="name"
                    prepend-icon="mdi-card"
                    type="text"
                    :counter="16"
                    maxlength="16"
                  ></v-text-field>
                    <v-text-field
                    label="Email"
                    v-model="email"
                    name="email"
                    prepend-icon="email"
                    type="email"
                  ></v-text-field>
                  <v-text-field
                  label="Telepon"
                  v-model="telepon"
                  name="telepon"
                  prepend-icon="phone"
                  type="phone"
                ></v-text-field>
                  <v-text-field
                    id="password"
                    v-model="password"
                    label="Password"
                    name="password"
                    :rules="[v => !!v || 'Password harus diisi', v => v.length >= 6 || 'Password kurang dari 6 karakter']"
                    prepend-icon="mdi-lock"
                    type="password">
                   </v-text-field>
                    <v-text-field
                    label="Konfirmasi Password"
                    v-model="c_password"
                    name="c_password"
                    :rules="[rules.required, rules.emailMatch]"
                    prepend-icon="mdi-lock"
                    type="password"
                  ></v-text-field>
                  <CRow>
                    <CCol col="6" class="text-left">
                      <v-btn color="primary" class="px-4" :loading="loading" :disabled="loading" dark @click="registerUser()">Register</v-btn>
                    </CCol>
                    <CCol col="6" class="text-right">
                      <CButton color="link" class="px-0">Lupa Password?</CButton>
                      <CButton color="link" class="d-lg-none" @click='Login()'>Login!</CButton>
                    </CCol>
                  </CRow>
                </Form>
              </CCardBody>
            </CCard>
            <CCard
              color="primary"
              text-color="white"
              class="text-center py-5 d-md-down-none"
              body-wrapper
            >
              <CCardBody>
                <div class="bd-example">
                <h1>Wilujeng sumping di</h1>
                <h1 italic><em>KOTA BANDUNG</em></h1>
              </div>
                <h2>e-PunTEN</h2>
                <p>e-PunTEN adalah salah satu inovasi dalam pengurusan surat keterangan tinggal sementara yang diterbitkan oleh
                  instansi yang bertanggung jawab dan berwenang melaksanakan pelayanan dalam urusan pelaksanaan administrasi kependudukan dalam hal ini yaitu
                  Dinas Kependudukan dan Pencatatan Sipil Kota Bandung, dan diberikan kepada Warga Negara Indonesia yang tinggal sementara di suatu kota/kabupaten.</p>
                <v-btn
                  class="primary"
                  size="lg" dark
                  @click='login()'
                >
                  Login!
                </v-btn>
              </CCardBody>
            </CCard>
          </CCardGroup>
        </CCol>
      </CRow>
    </CContainer>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  $_veeValidate: {
  validator: 'new'
},
data(){
		return {
    form:{
			email:'',
			name:'',
			password:'',
			nik:'',
      no_kk:'',
			c_password:'',
      telepon:''
		},
rules: {
  required: value => !!value || 'Password harus di isi',
  emailMatch: v => v == this.password || 'Konfirmasi password tidak sesuai',
},
    dictionary: {
  custom: {
    nik: {
      required: () => 'NIK tidak boleh kosong',
      digits: 'Format NIK harus 16 digit',
      numeric: 'Format NIK tidak sesuai'
    },
    password: {
      required: 'Password tidak boleh kosong',
      min: 'Password minimal 6 karakter'
    },
  }

  },
}
},

methods : {
	registerUser(){
		axios.post('/register',{name:this.name, email:this.email, password:this.password,no_kk:this.no_kk, telepon:this.telepon, nik:this.nik, c_password:this.c_password,no_kk:this.nik})
		.then((response)=>{
			console.log(response);
			this.$router.push({ path: this.redirect || "/pages/login" });
		})
		.catch((error)=>{
			console.log(error);
		})
	},
  login() {
    this.$router.push({ path: this.redirect || "/pages/login" });
  },
}
}
</script>
