<template>
  <v-container>
    <v-card>
  <v-layout wrap align-center justify-center row fill-height class="mx-4 mb-4"  >
    <v-flex xs12 sm12 md12 lg12 xl12 class="text-xs-center pa-1 ">
      <p class="google-font mb-0" style="font-size:220%;color:#black">Monitoring Berkas Pengajuan</p>
      <br>
    </v-flex>
  </v-layout>

  <v-layout wrap  row fill-height class="pa-3 mx-6"  v-if = "!this.jumlah">
    <v-flex >
        <img  alt="" src="https://disdukcapil.bandung.go.id/api/public/assets/no-data.svg" style="width: 100px;">
          <p class="google-font font-italic-lighten" style="font-size:100%;color:#black">Belum ada pengajuan</p>
    </v-flex>
  </v-layout>

  <v-stepper v-if = "this.jumlah != null" v-model="e1">
    <v-stepper-header dark >
      <v-stepper-step :complete="e1 > 1" color="amber" step="1" dark>Pengajuan</v-stepper-step>

      <v-divider></v-divider>

      <v-stepper-step :complete="e1 > 2" color="amber" step="2" dark>Sedang dalam proses</v-stepper-step>

      <v-divider></v-divider>

      <v-stepper-step step="3" color="amber" dark>Selesai</v-stepper-step>
    </v-stepper-header>

    <v-stepper-items>
      <v-stepper-content step="1">
        <v-layout justify-center  wrap row>
          <v-flex  >
            <v-card
                  color="white lighten-4 rounded"
                >
                <P justify-center  class = "pa-3 mx-6 google-font font-italic" style="font-size:150%;color:#black">MENUNGGU PROSES VERIFIKASI OLEH VERIFIKATOR</P>
      </v-card>

      </v-flex>
</v-layout>
      </v-stepper-content>

      <v-stepper-content step="2">

        <!-- <v-card
          wrap row
          color="grey lighten-1"
          height="200px"
        > -->
        <v-layout justify-center  wrap row>
          <v-flex  >
            <v-card
                  color="white lighten-4 rounded"
                >
                <P justify-center  class = "pa-3 mx-6 google-font font-italic" style="font-size:150%;color:#black">PENGAJUAN SEDANG DALAM PROSES OLEH OPERATOR</P>
      </v-card>

      </v-flex>
</v-layout>


      <!-- </v-card> -->



        <!-- <v-btn
          color="amber"
          @click="e1 = 3"
        >
          Continue
        </v-btn>

        <v-btn text>Cancel</v-btn> -->
      </v-stepper-content>

      <v-stepper-content step="3">
        <v-layout justify-center  wrap row>
          <v-flex  >
            <v-card
                  color="white lighten-4 rounded"
                >
        <table v-if="this.detailUser.jenis_layanan != 2"  wrap class = "pa-3 mx-6" style="margin: 10px;">
          <tr>
            <td>Nomor SKTS</td>
            <td>:</td>
            <td>{{ detailUser.no_skts }}</td>
          </tr>
          <tr>
            <td>NIK</td>
            <td>:</td>
            <td>{{ detailUser.nik }}</td>
          </tr>
          <tr>
            <td>Nama</td>
            <td>:</td>
            <td>{{ detailUser.nama_lgkp }}</td>
          </tr>
          <tr>
            <td>Jenis Kelamin</td>
            <td>:</td>
            <td>{{ detailUser.jenis_klmin_desc }}</td>
          </tr>
          <tr>
            <td>Tempat/Tgl Lahir</td>
            <td>:</td>
            <td>{{ detailUser.tmpt_lhr }}, {{ detailUser.tgl_lhr }}</td>
          </tr>
          <tr>
            <td>Agama</td>
            <td>:</td>
            <td>{{ detailUser.agama_desc }}</td>
          </tr>
          <tr>
            <td>Status Kawin</td>
            <td>:</td>
            <td>{{ detailUser.stat_kwn_desc }}</td>
          </tr>
          <tr>
            <td>Pendidikan</td>
            <td>:</td>
            <td>{{ detailUser.pendidikan_desc }}</td>
          </tr>
          <tr>
            <td>Pekerjaan</td>
            <td>:</td>
            <td>{{ detailUser.pekerjaan_desc }}</td>
          </tr>
          <tr>
            <td>Alamat Asal</td>
            <td>:</td>
            <td>{{ detailUser.src_alamat }} RW {{ detailUser.src_rw }} RT {{ detailUser.src_rt }}</td>
          </tr>
          <tr>
            <td>Kelurahan</td>
            <td>:</td>
            <td>{{ detailUser.src_nama_kel }}</td>
          </tr>
          <tr>
            <td>Kecamatan</td>
            <td>:</td>
            <td>{{ detailUser.src_nama_kec }}</td>
          </tr>
          <tr>
            <td>Kab/Kota</td>
            <td>:</td>
            <td>{{ detailUser.src_nama_kab }}</td>
          </tr>
          <tr>
            <td>Provinsi</td>
            <td>:</td>
            <td>{{ detailUser.src_nama_prov }}</td>
          </tr>
          <tr>
            <td>Alamat Sementara</td>
            <td>:</td>
            <td>{{ detailUser.alamat }}</td>
          </tr>
          <tr>
            <td>RT/RW</td>
            <td>:</td>
            <td>{{ detailUser.no_rt }}/{{ detailUser.no_rw }}</td>
          </tr>
          <tr>
            <td>Kelurahan</td>
            <td>:</td>
            <td>{{ detailUser.nama_kel }}</td>
          </tr>
          <tr>
            <td>Kecamatan</td>
            <td>:</td>
            <td>{{ detailUser.nama_kec }}</td>
          </tr>
          <tr v-if="detailUser.tgl_berlaku">
            <td>Berlaku s/d</td>
            <td>:</td>
            <td>{{ detailUser.tgl_berlaku }}</td>
          </tr>
          <tr>
            <td>Jenis Layanan</td>
            <td>:</td>
              <td  class="blue--text">SKTS</td>
          </tr>
        </table>

        <table v-if="this.detailUser.jenis_layanan != 1"  wrap class = "pa-3 mx-6" style="margin: 10px">
          <tr>
            <td>NIK</td>
            <td>:</td>
            <td>{{ detailUser.nik }}</td>
          </tr>
          <tr>
            <td>Nama</td>
            <td>:</td>
            <td>{{ detailUser.nama_lgkp }}</td>
          </tr>
          <tr>
            <td>Jenis Kelamin</td>
            <td>:</td>
            <td>{{ detailUser.jenis_klmin_desc }}</td>
          </tr>
          <tr>
            <td>Tempat/Tgl Lahir</td>
            <td>:</td>
            <td>{{ detailUser.tmpt_lhr }}, {{ detailUser.tgl_lhr }}</td>
          </tr>
          <tr>
            <td>Agama</td>
            <td>:</td>
            <td>{{ detailUser.agama_desc }}</td>
          </tr>
          <tr>
            <td>Status Kawin</td>
            <td>:</td>
            <td>{{ detailUser.stat_kwn_desc }}</td>
          </tr>
          <tr>
            <td>Pendidikan</td>
            <td>:</td>
            <td>{{ detailUser.pendidikan_desc }}</td>
          </tr>
          <tr>
            <td>Pekerjaan</td>
            <td>:</td>
            <td>{{ detailUser.pekerjaan_desc }}</td>
          </tr>
          <tr>
            <td>Alamat Asal</td>
            <td>:</td>
            <td>{{ detailUser.src_alamat }} RW {{ detailUser.src_rw }} RT {{ detailUser.src_rt }}</td>
          </tr>
          <tr>
            <td>Kelurahan</td>
            <td>:</td>
            <td>{{ detailUser.src_nama_kel }}</td>
          </tr>
          <tr>
            <td>Kecamatan</td>
            <td>:</td>
            <td>{{ detailUser.src_nama_kec }}</td>
          </tr>
          <tr>
            <td>Kab/Kota</td>
            <td>:</td>
            <td>{{ detailUser.src_nama_kab }}</td>
          </tr>
          <tr>
            <td>Provinsi</td>
            <td>:</td>
            <td>{{ detailUser.src_nama_prov }}</td>
          </tr>
          <tr>
            <td>Alamat Baru</td>
            <td>:</td>
            <td>{{ detailUser.alamat }}</td>
          </tr>
          <tr>
            <td>RT/RW</td>
            <td>:</td>
            <td>{{ detailUser.no_rt }}/{{ detailUser.no_rw }}</td>
          </tr>
          <tr>
            <td>Kelurahan</td>
            <td>:</td>
            <td>{{ detailUser.nama_kel }}</td>
          </tr>
          <tr>
            <td>Kecamatan</td>
            <td>:</td>
            <td>{{ detailUser.nama_kec }}</td>
          </tr>
          <tr>
            <td>Jenis Layanan</td>
            <td>:</td>
              <td  class="blue--text">Pindah Datang</td>
          </tr>
        </table>
      </v-card>

      </v-flex>
</v-layout>
      </v-stepper-content>
    </v-stepper-items>
  </v-stepper>
</v-card>
  </v-container>
</template>
<script>
  export default {
    // el: '#app',
    data () {
      return {
        e1: 0,
        authUser: undefined,
        permissionUser: undefined,
        detailUser: [],
        value:0,
        jumlah:null,
      }
    },
mounted(){
  try {
    const jsonAuthUser = JSON.parse(localStorage.authUserEpunten);
    this.authUser = jsonAuthUser;
    this.permissionUser = JSON.stringify(localStorage.permissionEpunten);
  } catch (e) {
  } finally {
  }
  this.getUser();
},

watch: {
},
methods:{
  toggle (item, index) {
    const i = this.selected.indexOf(item)

    if (i > -1) {
      this.selected.splice(i, 1)
    } else {
      this.selected.push(item)
    }
  },
  getUser() {
    axios.post("/cek_pengajuan",{nik:this.authUser.nik}).then(response => {
      this.detailUser = response.data[0];
      this.jumlah = response.data;
      this.e1 = this.detailUser.proc_stat;
      this.error = response.code;
      this.profil = response.data.pengajuan.img_thumb_1;
      this.showLoader = false;
    }).catch(err => console.log(this.error)).finally(() => this.loading = false);
  },
  coba(){
    alert(this.detailUser)
  }

},
};
</script>
