<template>
  <div>

    <CCard>
      <cRow class="justify-content-center">
      <CImg
         src="https://disdukcapil.bandung.go.id/api-epunten/public/assets/img/background2.png"
       />
     </CRow>
     <CRow class="justify-content-center">
      <div class="bd-example mx-4 mb-4">
      <h1>Wilujeng sumping di <em>KOTA BANDUNG</em></h1>
    </div>
  </CRow>
    <v-layout row wrap class="my-5">
<v-flex>
  <v-Row class="mx-4 mb-4">
  <CCol sm="6" md="4">
    <transition name="fade">
      <CCard v-if="show" color="Primary">
        <CCardHeader>
          SKTS
          <div class="card-header-actions">
            <CLink href="#" class="card-header-action btn-setting">
              <CIcon name="cil-settings"/>
            </CLink>
            <CLink class="card-header-action btn-minimize" @click="isCollapsed = !isCollapsed">
              <CIcon :name="`cil-chevron-${isCollapsed ? 'bottom' : 'top'}`"/>
            </CLink>
            <CLink href="#" class="card-header-action btn-close" v-on:click="show = false">
              <CIcon name="cil-x-circle"/>
            </CLink>
          </div>
        </CCardHeader>
        <CCollapse :show="isCollapsed" :duration="400">
          <CCardBody>
            e-PunTEN adalah salah satu inovasi dalam pengurusan surat keterangan tinggal sementara yang diterbitkan oleh instansi yang bertanggung jawab
            dan berwenang melaksanakan pelayanan dalam urusan pelaksanaan administrasi kependudukan dalam hal ini yaitu Dinas Kependudukan dan Pencatatan Sipil Kota Bandung,
            dan diberikan kepada Warga Negara Indonesia yang tinggal sementara di suatu kota/kabupaten.
          </CCardBody>
        </CCollapse>
      </CCard>
    </transition>
  </CCol>
  <CCol sm="6" md="4">
    <transition name="fade">
      <CCard v-if="show" color="Primary">
        <CCardHeader>
          PINDAH DATANG
          <div class="card-header-actions">
            <CLink href="#" class="card-header-action btn-setting">
              <CIcon name="cil-settings"/>
            </CLink>
            <CLink class="card-header-action btn-minimize" @click="isCollapsed = !isCollapsed">
              <CIcon :name="`cil-chevron-${isCollapsed ? 'bottom' : 'top'}`"/>
            </CLink>
            <CLink href="#" class="card-header-action btn-close" v-on:click="show = false">
              <CIcon name="cil-x-circle"/>
            </CLink>
          </div>
        </CCardHeader>
        <CCollapse :show="isCollapsed" :duration="400">
          <CCardBody>
            Surat Keternagan Pindah Datang digunakan sebagai dasar perubahan atau penerbitan KK dan KTP-el penduduk yang bersangkutan.
          </CCardBody>
        </CCollapse>
      </CCard>
    </transition>
  </CCol>
  <CCol sm="6" md="4">
    <transition name="fade">
      <CCard v-if="show" color="blue">
        <CCardHeader>
          WARGA NEGARA ASING
          <div class="card-header-actions">
            <CLink href="#" class="card-header-action btn-setting">
              <CIcon name="cil-settings"/>
            </CLink>
            <CLink class="card-header-action btn-minimize" @click="isCollapsed = !isCollapsed">
              <CIcon :name="`cil-chevron-${isCollapsed ? 'bottom' : 'top'}`"/>
            </CLink>
            <CLink href="#" class="card-header-action btn-close" v-on:click="show = false">
              <CIcon name="cil-x-circle"/>
            </CLink>
          </div>
        </CCardHeader>
        <CCollapse :show="isCollapsed" :duration="400">
          <CCardBody>
            Pelayanan masyarakat untuk membuat Surat Keterangan Tempat Tinggal (SKTT) untuk WNA, Surat Keterangan Susunan Keluarga Pendatang (SKSKP) untuk WNA, KTP serta Kartu Keluarga untuk WNA.
          </CCardBody>
        </CCollapse>
      </CCard>
    </transition>
  </CCol>
</v-Row>
</v-flex>
</v-layout>
  </Ccard>
  </div>
</template>

<script>
// import MainChartExample from './charts/MainChartExample'
// import WidgetsDropdown from './widgets/WidgetsDropdown'
// import WidgetsBrand from './widgets/WidgetsBrand'

export default {
  name: 'Cards',
  components: {
    // MainChartExample,
    // WidgetsDropdown,
    // WidgetsBrand
  },
  data () {
    return {
      show: true,
      isCollapsed: true,
      loremIpsum: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.'

    //   selected: 'Month',
    //   tableItems: [
    //     {
    //       avatar: { url: 'img/avatars/1.jpg', status: 'success' },
    //       user: { name: 'Yiorgos Avraamu', new: true, registered: 'Jan 1, 2015' },
    //       country: { name: 'USA', flag: 'cif-us' },
    //       usage: { value: 50, period: 'Jun 11, 2015 - Jul 10, 2015' },
    //       payment: { name: 'Mastercard', icon: 'cib-cc-mastercard' },
    //       activity: '10 sec ago'
    //     },
    //     {
    //       avatar: { url: 'img/avatars/2.jpg', status: 'danger' },
    //       user: { name: 'Avram Tarasios', new: false, registered: 'Jan 1, 2015' },
    //       country: { name: 'Brazil', flag: 'cif-br' },
    //       usage: { value: 22, period: 'Jun 11, 2015 - Jul 10, 2015' },
    //       payment: { name: 'Visa', icon: 'cib-cc-visa' },
    //       activity: '5 minutes ago'
    //     },
    //     {
    //       avatar: { url: 'img/avatars/3.jpg', status: 'warning' },
    //       user: { name: 'Quintin Ed', new: true, registered: 'Jan 1, 2015' },
    //       country: { name: 'India', flag: 'cif-in' },
    //       usage: { value: 74, period: 'Jun 11, 2015 - Jul 10, 2015' },
    //       payment: { name: 'Stripe', icon: 'cib-stripe' },
    //       activity: '1 hour ago'
    //     },
    //     {
    //       avatar: { url: 'img/avatars/4.jpg', status: '' },
    //       user: { name: 'Enéas Kwadwo', new: true, registered: 'Jan 1, 2015' },
    //       country: { name: 'France', flag: 'cif-fr' },
    //       usage: { value: 98, period: 'Jun 11, 2015 - Jul 10, 2015' },
    //       payment: { name: 'PayPal', icon: 'cib-paypal' },
    //       activity: 'Last month'
    //     },
    //     {
    //       avatar: { url: 'img/avatars/5.jpg', status: 'success' },
    //       user: { name: 'Agapetus Tadeáš', new: true, registered: 'Jan 1, 2015' },
    //       country: { name: 'Spain', flag: 'cif-es' },
    //       usage: { value: 22, period: 'Jun 11, 2015 - Jul 10, 2015' },
    //       payment: { name: 'Google Wallet', icon: 'cib-google-pay' },
    //       activity: 'Last week'
    //     },
    //     {
    //       avatar: { url: 'img/avatars/6.jpg', status: 'danger' },
    //       user: { name: 'Friderik Dávid', new: true, registered: 'Jan 1, 2015' },
    //       country: { name: 'Poland', flag: 'cif-pl' },
    //       usage: { value: 43, period: 'Jun 11, 2015 - Jul 10, 2015' },
    //       payment: { name: 'Amex', icon: 'cib-cc-amex' },
    //       activity: 'Last week'
    //     }
    //   ],
    //   tableFields: [
    //     { key: 'avatar', label: '', _classes: 'text-center' },
    //     { key: 'user' },
    //     { key: 'country', _classes: 'text-center' },
    //     { key: 'usage' },
    //     { key: 'payment', label: 'Payment method', _classes: 'text-center' },
    //     { key: 'activity' },
    //   ]
    // }
  }
  // methods: {
  //   // color (value) {
  //   //   let $color
  //   //   if (value <= 25) {
  //   //     $color = 'info'
  //   //   } else if (value > 25 && value <= 50) {
  //   //     $color = 'success'
  //   //   } else if (value > 50 && value <= 75) {
  //   //     $color = 'warning'
  //   //   } else if (value > 75 && value <= 100) {
  //   //     $color = 'danger'
  //   //   }
  //   //   return $color
  //   // }
  // };
},
}
</script>
