<template>
  <v-container>
    <v-card>
    <v-layout wrap align-center justify-center row fill-height class="mx-4 mb-4"  >
      <v-flex xs12 sm12 md12 lg12 xl12 class="text-xs-center pa-1">
        <p class="google-font mb-0" style="font-size:220%;color:#black">Formulir Pendaftaran Pindah Datang antar Kota/Provinsi</p>
        <br>
      </v-flex>
    </v-layout>

    <v-layout wrap row class="mx-4 mb-4">
      <v-flex xs12>
                <form>
                    <v-layout wrap row>
                      <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                        <v-text-field
                        class="upper"
                        v-model="data.nik"
                        :rules ="[v => !!v || 'NIK harus diisi', v => v.length >= 15 || 'NIK kurang dari 16 digit']"

                        :counter="16"
                        label="NIK"
                        data-vv-name="nik"
                        required
                        maxlength="16"
                        ></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                        <v-text-field
                        class="upper"
                        v-model="data.nama_lgkp"
                        v-validate="'required|alpha_spaces|min:2'"
                        :rules ="[v => !!v || 'Nama lengkap harus diisi', v => !/([!@$%0-9])/.test(v) || 'Format yang anda masukan salah']"

                        label="Nama Lengkap"
                        data-vv-name="nama_lgkp"
                        required
                        ></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                        <v-text-field
                        class="upper"
                        v-model="data.tmpt_lhr"
                        v-validate="'required|alpha_spaces|min:2'"
                        :rules ="[v => !!v || 'Tempat lahir harus diisi', v => !/([!@$%])/.test(v) || 'Format yang anda masukan salah']"
                        label="Tempat Lahir"
                        data-vv-name="tmpt_lhr"
                        required
                        ></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                        <v-menu
                        ref="tgl_lhr"
                        v-model="data.tgl_lhr"
                        :close-on-content-click="false"
                        :nudge-right="40"
                        transition="scale-transition"
                        offset-y
                        full-width
                        max-width="290px"
                        min-width="290px"
                        >
                        <template v-slot:activator="{ on }">
                          <v-text-field
                          v-model="date"
                          :rules ="[v => !!v || 'Tanggal Lahir harus diisi']"
                          label="Tanggal Lahir"
                          hint="DD/MM/YYYY"
                          v-validate="'required|date_format:dd/MM/yyyy'"

                          data-vv-name="date"
                          required
                          persistent-hint
                          prepend-icon="far fa-calendar-alt"
                          @blur="date = parseDate(dateFormatted)"
                          v-on="on"
                          ></v-text-field>
                        </template>
                        <v-date-picker v-model="date" no-title @input="tgl_lhr = false"></v-date-picker>
                      </v-menu>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-select
                      v-model="data.jenis_klmin"
                      v-validate="'required'"
                      :items="jenis_klmin"
                      :rules ="[v => !!v || 'Jenis kelamin belum dipilih']"
                      item-text="data"
                      item-value="no"

                      label="Jenis Kelamin"
                      data-vv-name="jenis_klmin"
                      required
                      return-object
                      ></v-select>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-select
                      v-model="data.agama"
                      v-validate="'required'"
                      :items="agama"
                      item-text="agama"
                      item-value="no"
                      :rules ="[v => !!v || 'Agama belum dipilih']"
                      label="Agama"
                      data-vv-name="agama"
                      required
                      return-object
                      ></v-select>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-select
                      v-model="data.stat_kwn"
                      v-validate="'required'"
                      :items="stat_kwn"
                      item-text="stat_kwn"
                      item-value="no"
                      :rules ="[v => !!v || 'Status perkawinan belum dipilih']"
                      label="Satus kawin"
                      data-vv-name="stat_kwn"
                      required
                      return-object
                      ></v-select>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-select
                      v-model="data.gol_drh"
                      v-validate="'required'"
                      :items="gol_drh"
                      item-text="gol_drh"
                      item-value="no"
                      :rules ="[v => !!v || 'Golongan darah belum dipilih']"

                      label="Golongan Darah"
                      data-vv-name="gol_drh"
                      required
                      return-object
                      ></v-select>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-select
                      v-model="data.pendidikan"
                      v-validate="'required'"
                      :items="pendidikan"
                      item-text="pendidikan"
                      item-value="no"
                      :rules ="[v => !!v || 'Pendidikan terakhir belum dipilih']"

                      label="Pendidikan"
                      data-vv-name="pendidikan"
                      required
                      return-object
                      ></v-select>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-select
                      v-model="data.pekerjaan"
                      v-validate="'required'"
                      :items="pekerjaan"
                      item-text="pekerjaan"
                      item-value="no"
                      :rules ="[v => !!v || 'Jenis pekerjaan belum dipilih']"
                      label="Pekerjaan"
                      data-vv-name="pekerjaan"
                      required
                      return-object
                      ></v-select>
                    </v-flex>
                  </v-layout>
                  <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                    <v-divider></v-divider>
                  <p class="google-font font-italic mb-0" style="font-size:170%;color:#black">Alamat Asal</p>
                    <v-divider></v-divider>
                  </v-flex>

                  <v-layout wrap row>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-select
                      v-model="data.src_prov"
                      v-validate="'required'"
                      :items="provinsi"
                      item-text="nama_prop"
                      item-value="no_prop"
                      :rules ="[v => !!v || 'Provinsi asal belum dipilih']"
                      label="Provinsi"
                      data-vv-name="src_prov"
                      required
                      return-object
                      @change="getKab"
                      ></v-select>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-select
                      v-model="data.src_kab"
                      v-validate="'required'"
                      :items="kabupaten"
                      item-text="nama_kab"
                      item-value="no_kab"
                      :rules ="[v => !!v || 'Kabupaten/kota asal belum dipilih']"
                      label="Kab/Kota"
                      data-vv-name="src_kab"
                      required
                      :loading= "loadingKab"
                      return-object
                      @change="getKec"
                      ></v-select>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-select
                      v-model="data.src_kec"
                      v-validate="'required'"
                      :items="kecamatan"
                      item-text="nama_kec"
                      item-value="no_kec"
                      :rules ="[v => !!v || 'Kecamatan asal belum dipilih']"
                      label="Kecamatan"
                      data-vv-name="src_kec"
                      required
                      :loading= "loadingKec"
                      return-object
                      @change="getKel"
                      ></v-select>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-select
                      v-model="data.src_kel"
                      v-validate="'required'"
                      :items="kelurahan"
                      :rules ="[v => !!v || 'Kelurahan asal belum dipilih']"
                      item-text="nama_kel"
                      item-value="no_kel"
                      label="Kelurahan"
                      data-vv-name="src_kel"
                      required
                      :loading= "loadingKel"
                      return-object
                      ></v-select>
                    </v-flex>
                    <v-flex xs12 sm12 md12 lg12 xl12 style="padding: 15px;">
                      <v-textarea
                      class="upper"
                      auto-grow
                      v-model="data.src_alamat"
                      :rules ="[v => !!v || 'Alamat asal belum diisi']"
                      v-validate="'required|min:2'"
                      label="Alamat"
                      hint="Alamat Lengkap"
                      data-vv-name="src_alamat"
                      required
                      ></v-textarea>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-text-field
                      v-model="data.src_rt"
                      :rules ="[v => !!v || 'Data RT belum diisi']"
                      v-validate="'required|numeric'"
                      label="No RT"
                      data-vv-name="src_rt"
                      required
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-text-field
                      v-model="data.src_rw"
                      v-validate="'required|numeric'"
                      :rules ="[v => !!v || 'Data RW belum diisi']"
                      label="No RW"
                      data-vv-name="src_rw"
                      required
                      ></v-text-field>
                    </v-flex>
                  </v-layout>
                  <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                    <v-divider></v-divider>
                  <p class="google-font font-italic mb-0" style="font-size:170%;color:#black">Alamat Di Kota Bandung</p>
                    <v-divider></v-divider>
                  </v-flex>

                  <v-layout wrap row>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-select
                      v-model="data.kec"
                      v-validate="'required'"
                      :rules ="[v => !!v || 'Pilih Kecamatan']"
                      :items="destKecamatan"
                      item-text="nama_kec"
                      item-value="no_kec"
                      label="Kecamatan"
                      data-vv-name="kec"
                      required
                      @change="getDestKel"
                      return-object
                      ></v-select>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-select
                      v-model="data.kel"
                      v-validate="'required'"
                      :rules ="[v => !!v || 'Pilih Kelurahan']"
                      :items="destKelurahan"
                      item-text="nama_kel"
                      item-value="no_kel"
                      label="Kelurahan"
                      data-vv-name="kel"
                      required
                      :loading= "loadingDestKel"
                      return-object
                      ></v-select>
                    </v-flex>
                    <v-flex xs12 sm12 md12 lg12 xl12 style="padding: 15px;">
                      <v-textarea
                      class="upper"
                      auto-grow
                      v-model="data.alamat"
                      v-validate="'required|min:2'"
                      :rules ="[v => !!v || 'Alamat belum di isi']"
                      label="Alamat"
                      hint="Alamat Lengkap"
                      data-vv-name="alamat"
                      required
                      ></v-textarea>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-text-field
                      v-model="data.rt"
                      v-validate="'required|numeric'"
                      :rules ="[v => !!v || 'Data RT Belum diisi']"
                      label="No RT"
                      data-vv-name="rt"
                      required
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-text-field
                      v-model="data.rw"
                      v-validate="'required|numeric'"
                      :rules ="[v => !!v || 'Data RW belum di isi']"
                      label="No RW"
                      data-vv-name="rw"
                      required
                      ></v-text-field>
                    </v-flex>
                  </v-layout>


                  <v-layout align-center justify-center row fill-height wrap>
                    <v-flex xs12 sm3 md3 lg3 xl3 style="padding: 15px;">
                      <v-card>
                        <div class="form-group">
                          <input
                          type="file"
                          id="imgupload1"
                          ref="imgupload1"
                          accept="image/*"
                          style="display: none;"
                          v-on:change="handleFileUpload('imgupload1', 'image1')"
                          />
                          <img
                          v-bind:src="[image1 != '' ? image1 : 'https://disdukcapil.bandung.go.id/api-epunten/public/assets/img/no_img.png']"
                          class="berkas"
                          @click="$refs.imgupload1.click()"
                          />
                        </div>
                        <v-card-title>
                          <div class="text-center">
                            <div>Surat Pindah (SKPWNI)</div>
                          </div>
                        </v-card-title>
                      </v-card>
                    </v-flex>
                    <v-flex xs12 sm3 md3 lg3 xl3 style="padding: 15px;">
                      <v-card>
                        <div class="form-group">
                          <input
                          type="file"
                          id="imgupload2"
                          ref="imgupload2"
                          accept="image/*"
                          style="display: none;"
                          v-on:change="handleFileUpload('imgupload2', 'image2')"
                          />
                          <img
                          v-bind:src="[image2 != '' ? image2 : 'https://disdukcapil.bandung.go.id/api-epunten/public/assets/img/no_img.png']"
                          class="berkas"
                          @click="$refs.imgupload2.click()"
                          />
                        </div>
                        <v-card-title>
                          <div class="text-center">
                            <div>KTP-el</div>
                          </div>
                        </v-card-title>
                      </v-card>
                    </v-flex>
                    <v-flex xs12 sm3 md3 lg3 xl3 style="padding: 15px;">
                      <v-card>
                        <div class="form-group">
                          <input
                          type="file"
                          id="imgupload3"
                          ref="imgupload3"
                          accept="image/*"
                          style="display: none;"
                          v-on:change="handleFileUpload('imgupload3', 'image3')"
                          />
                          <img
                          v-bind:src="[image3 != '' ? image3 : 'https://disdukcapil.bandung.go.id/api-epunten/public/assets/img/no_img.png']"
                          class="berkas"
                          @click="$refs.imgupload3.click()"
                          />
                        </div>
                        <v-card-title>
                          <div class="text-center">
                            <div>Surat Pengantar Kelurahan</div>
                          </div>
                        </v-card-title>
                      </v-card>
                    </v-flex>
                    <v-flex xs12 sm3 md3 lg3 xl3 style="padding: 15px;">
                      <v-card>
                        <div class="form-group">
                          <input
                          type="file"
                          id="imgupload4"
                          ref="imgupload4"
                          accept="image/*"
                          style="display: none;"
                          v-on:change="handleFileUpload('imgupload4', 'image4')"
                          />
                          <img
                          v-bind:src="[image4 != '' ? image4 : 'https://disdukcapil.bandung.go.id/api-epunten/public/assets/img/no_img.png']"
                          class="berkas"
                          @click="$refs.imgupload4.click()"
                          />
                        </div>
                        <v-card-title>
                          <div class="text-center">
                            <div>Surat Pengantar RT/RW</div>
                          </div>
                        </v-card-title>
                      </v-card>
                    </v-flex>
                  </v-layout>


                  <v-layout wrap row>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-text-field
                      v-model="data.telepon"
                      v-validate="'required|numeric'"
                      :rules ="[v => !!v || 'Silahkan isi nomor Telepon',v => !/([!@$%a-z])/.test(v) || 'Format yang anda masukan salah']"
                      label="No Telepon"
                      data-vv-name="telepon"
                      required
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-text-field
                      v-model="data.email"
                      v-validate="'required|email'"
                      :rules ="[v => !!v || 'Silahkan Isi Email',v => /.+@.+/.test(v) || 'Format Email Salah' ]"
                      label="Alamat e-mail"
                      data-vv-as="email"
                      data-vv-name="email"
                      required
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <div v-if ="data.nik">NIK : {{ data.nik }}</div>
                      <div v-if ="data.nama_lgkp">Nama Lengkap : {{ data.nama_lgkp.toUpperCase() }}</div>
                      <div v-if ="data.tmpt_lhr && dateFormatted">Tempat/Tanggal Lahir : {{ data.tmpt_lhr.toUpperCase() }}, {{ dateFormatted }}</div>
                      <div v-if ="data.jenis_klmin">Jenis Kelamin : {{ data.jenis_klmin.data }}</div>
                      <div v-if ="data.agama">Agama : {{ data.agama.agama }}</div>
                      <div v-if ="data.stat_kwn">Status Kawin : {{ data.stat_kwn.stat_kwn }}</div>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <div v-if ="data.gol_drh">Golongan Darah : {{ data.gol_drh.gol_drh }}</div>
                      <div v-if ="data.pendidikan">Pendidikan : {{ data.pendidikan.pendidikan }}</div>
                      <div v-if ="data.pekerjaan">Pekerjaan : {{ data.pekerjaan.pekerjaan.replace(/[0-9'())]/g, '') }}</div>
                      <div v-if ="data.src_alamat">
                        Alamat Asal : {{ data.src_alamat.toUpperCase() }}
                      </div>
                      <v-layout row wrap>
                        <v-flex xs12 sm12 md6 lg6 xl6>
                          <div class="tab" v-if ="data.src_kel">
                            Kelurahan : {{ data.src_kel.nama_kel.replace(/[0-9'())]/g, '') }}
                          </div>
                          <div class="tab" v-if ="data.src_kec">
                            Kecamatan : {{ data.src_kec.nama_kec.replace(/[0-9'())]/g, '') }}
                          </div>
                        </v-flex>
                        <v-flex xs12 sm12 md6 lg6 xl6>
                          <div class="tab" v-if ="data.src_kab">
                            Kab/Kota : {{ data.src_kab.nama_kab.replace(/[0-9'())]/g, '') }}
                          </div>
                          <div class="tab" v-if ="data.src_prov">
                            Provinsi : {{ data.src_prov.nama_prop.replace(/[0-9'())]/g, '') }}
                          </div>
                        </v-flex>
                      </v-layout>

                      <div v-if ="data.alamat && data.rt && data.rw">
                        Alamat Saat Ini : {{ data.alamat.toUpperCase() }}, RT {{ data.rt }}/ RW {{ data.rw }}
                      </div>
                      <v-layout row wrap>
                        <v-flex xs12 sm12 md6 lg6 xl6>
                          <div class="tab" v-if ="data.kel">
                            Kelurahan : {{ data.kel.nama_kel.replace(/[0-9'())]/g, '') }}
                          </div>
                          <div class="tab" v-if ="data.kec">
                            Kecamatan : {{ data.kec.nama_kec.replace(/[0-9'())]/g, '') }}
                          </div>
                        </v-flex>
                        <v-flex xs12 sm12 md6 lg6 xl6>
                          <div class="tab" v-if ="data.kab">
                            Kab/Kota : KOTA BANDUNG
                          </div>
                          <div class="tab" v-if ="data.prov">
                            Provinsi : JAWA BARAT
                          </div>
                        </v-flex>
                      </v-layout>
                    </v-flex>
                  </v-layout>
                  <v-layout justify-center>
                    <v-btn depressed class="ma-1" @click="e1 = 4"> Sebelumnya</v-btn>
                    <v-btn
                    class="ma-1"
                    color="primary"
                    @click="dialog = true">
                    Daftar
                  </v-btn>
                </v-layout>
                <v-layout justify-center>
                  <v-dialog v-model="dialog" persistent max-width="290">
                    <v-card>
                      <v-card-title class="headline">Lanjutkan pendaftaran?</v-card-title>
                      <v-card-text>Pastikan inputan yang anda masukan sudah benar.</v-card-text>
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="green darken-1" flat @click="dialog = false">Batal</v-btn>
                        <v-btn color="green darken-1" flat :loading="loading" :disabled="loading" @click="submit">Daftar</v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                </v-layout>
                <v-layout justify-center>
                  <v-dialog v-model="dialogSukses" persistent max-width="290">
                    <v-card>
                      <v-card-title class="headline">Sukses!</v-card-title>
                      <v-card-text>Pendaftaran berhasil, silahkan Cek status pengajuan anda</v-card-text>
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="green darken-1" flat to="/monitoring/monitoring">Cek</v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                </v-layout>
                <!-- </v-stepper-content>

                <v-stepper-content step="2">

                  <v-btn depressed class="ma-1"@click="e1 = 1">Sebelumnya</v-btn>
                  <v-btn class="ma-1" color="primary" @click="e1 = 3"> Selanjutnya</v-btn>
                </v-stepper-content>

                <v-stepper-content step="3">
                  <v-btn depressed class="ma-1"@click="e1 = 2">Sebelumnya</v-btn>
                  <v-btn class="ma-1" color="primary" @click="e1 = 4"> Selanjutnya</v-btn>
                </v-stepper-content>

                <v-stepper-content step="4">

                  <v-btn depressed class="ma-1"@click="e1 = 3">Sebelumnya</v-btn>
                  <v-btn class="ma-1" color="primary" @click="e1 = 5"> Selanjutnya</v-btn>
                </v-stepper-content>

                <v-stepper-content step="5">

              </v-stepper-content> -->
            </form>
          <!-- </v-stepper-items>
        </v-stepper>
      </v-flex>
    </v-layout> -->
  </v-flex>
</v-layout>

<v-snackbar
v-model="snackbar"
color="error"
:bottom="y === 'bottom'"
:left="x === 'left'"
:multi-line="mode === 'multi-line'"
:right="x === 'right'"
:top="y === 'top'"
:vertical="mode === 'vertical'"
:timeout="timeout"
>
{{ text }}
<v-btn
flat
@click="snackbar = false"
>
Tutup
</v-btn>
</v-snackbar>
</v-card>
</v-container>
</template>

<script>
import { localize } from 'vee-validate/dist/vee-validate.full';
import en from "vee-validate/dist/locale/en.json";

export default {
  $_veeValidate: {
    validator: 'new'
  },

  data() {
    return {
      data : {
        nik: '',
        nama_lgkp: '',
        tmpt_lhr: '',
        tgl_lhr: '',
        jenis_klmin: null,
        agama: null,
        stat_kwn: null,
        gol_drh: null,
        pendidikan: null,
        pekerjaan: null,
        src_prov: null,
        src_kab: null,
        src_kec: null,
        src_kel: null,
        src_alamat: '',
        src_rt: '',
        src_rw: '',
        prov: 32,
        kab: 73,
        kec: null,
        kel: null,
        alamat: '',
        rt: '',
        rw: '',
        telepon: '',
        email: ''
      },
      cekData : {
        nik: '',
      },
      jenis_klmin: [
        { no: 1, data: '1 - LAKI-LAKI' },
        { no: 2, data: '2 - PEREMPUAN' }
      ],
      agama: [],
      stat_kwn: [],
      gol_drh: [],
      pendidikan: [],
      pekerjaan: [],
      provinsi: [],
      kabupaten: [],
      kecamatan: [],
      kelurahan: [],
      destKecamatan: [],
      destKelurahan: [],
      dictionary: {
        id:{
        fields: {
          nik: {
            required: () => 'NIK tidak boleh kosong',
            digits: 'Masukan 16-digit angka',
            numeric: 'Karakter tidak valid'
          },
          nama_lgkp: {
            required: 'Nama tidak boleh kosong',
            alpha_spaces: 'Inputan tidak valid',
            min: 'Minimal 2 karakter'
          },
          tmpt_lhr: {
            required: 'Tempat lahir tidak boleh kosong',
            alpha_spaces: 'Inputan tidak valid',
            min: 'Minimal 2 karakter'
          },
          tgl_lhr: {
            required: 'Tanggal lahir tidak boleh kosong',
            date_format: 'Inputan tidak valid (Hari/Bulan/Tahun)'
          },
          jenis_klmin: {
            required: 'Pilih jenis kelamin'
          },
          agama: {
            required: 'Pilih Agama'
          },
          stat_kwn: {
            required: 'Pilih satus perkawinan'
          },
          gol_drh: {
            required: 'Pilih golongan darah'
          },
          pendidikan: {
            required: 'Pilih pendidikan'
          },
          pekerjaan: {
            required: 'Pilih jenis pekerjaan'
          },
          src_prov: {
            required: 'Pilih provinsi asal'
          },
          src_kab: {
            required: 'Pilih kab/kota asal'
          },
          src_kec: {
            required: 'Pilih kecamatan asal'
          },
          src_kel: {
            required: 'Pilih kelurahan asal'
          },
          src_alamat: {
            required: 'Alamat asal tidak boleh kosong',
            min: 'Minimal 2 karakter'
          },
          src_rt: {
            required: 'Nomor RT tidak boleh kosong',
            numeric: 'Karakter tidak valid'
          },
          src_rw: {
            required: 'Nomor RW tidak boleh kosong',
            numeric: 'Karakter tidak valid'
          },
          kec: {
            required: 'Pilih kecamatan saat ini'
          },
          kel: {
            required: 'Pilih kelurahan saat ini'
          },
          alamat: {
            required: 'Alamat saat ini tidak boleh kosong',
            min: 'Minimal 2 karakter'
          },
          rt: {
            required: 'Nomor RT tidak boleh kosong',
            numeric: 'Karakter tidak valid'
          },
          rw: {
            required: 'Nomor RW tidak boleh kosong',
            numeric: 'Karakter tidak valid'
          },
          telepon: {
            required: 'Telepon tidak boleh kosong',
            numeric: 'Karakter tidak valid'
          },
          email: {
            required: 'Email tidak boleh kosong',
            email: 'Format email tidak valid'
          },
          // password: {
          //   required: 'Password tidak boleh kosong',
          //   min: 'Password minimal 6 karakter'
          // },
          // konfirmasi_password: {
          //   required: 'Konfirmasi password tidak boleh kosong',
          //   confirmed: 'Konfirmasi password tidak sama'
          // },
        }
      }
      },
      eventsData:[],
      showLoader: true,
      showData:false,
      errorMsg:'',
      errorAlert:false,
      notFoundPastEventFlag:false,

      e1: 0,
      name: '',
      email: '',
      select: null,
      checkbox: false,
      date: null,
      dateFormatted: null,
      menu1: false,
      menu2: false,

      imgupload1: null,
      imgupload2: null,
      imgupload3: null,
      imgupload4: null,
      image1: "",
      image2: "",
      image3: "",
      image4: "",
      snackbar: false,
      y: 'top',
      x: null,
      mode: '',
      timeout: 6000,
      text: 'error',
      loading: false,
      loadingKab : false,
      loadingKec : false,
      loadingKel : false,
      loadingDestKel : false,
      // showPassword: false,
      dialog: false,
      dialogSukses: false,
    }
  },
  computed: {
  },
  watch: {
    date (val) {
      this.dateFormatted = this.formatDate(this.date)
    },
  },
  created(){
    this.getData();
  },
  mounted () {
    localize('id', this.dictionary)
  },

  methods:{
    handleFileUpload(source, image) {
      this[source + ""] = this.$refs[source].files[0];
      var fsize = this[source + ""].size;
      fsize += Math.round(fsize / 1024);
      if (fsize > 2097152) {
        this.text = "Ukuran gambar tidak boleh lebih dari 2MB."
        this.snackbar = true
        return false;
      }

      let reader = new FileReader();
      reader.addEventListener(
        "load",
        function() {
          this[image + ""] = reader.result;
        }.bind(this),
        false
      );
      if (this[source + ""]) {
        if (/\.(jpe?g|png|gif)$/i.test(this[source + ""].name)) {
          reader.readAsDataURL(this[source + ""]);
        }else{
          return false;
        }
      }
    },
    getData() {
      axios.get("/ektp")
      .then(response => {
        this.agama = response.data.agama;
        this.stat_kwn = response.data.stat_kwn;
        this.gol_drh = response.data.gol_drh;
        this.pendidikan = response.data.pendidikan;
        this.pekerjaan = response.data.pekerjaan;
        this.provinsi = response.data.prov;
        this.destKecamatan = response.data.kecamatan;
      })
      .catch(error => {

      });
    },
    getKab() {
      this.loadingKab = true
      axios.post("/ektp-kab", {no_prop: this.data.src_prov.no_prop })
      .then(response => {
        this.kabupaten = response.data.kabupaten;
        this.loadingKab = false
      })
      .catch(error => {
        this.loadingKab = false
      });
    },
    getKec() {
      this.loadingKec = true
      axios.post("/ektp-kec", {no_prop: this.data.src_prov.no_prop, no_kab: this.data.src_kab.no_kab })
      .then(response => {
        this.kecamatan = response.data.kecamatan;
        this.loadingKec = false
      })
      .catch(error => {
        this.loadingKec = false
      });
    },
    getKel() {
      this.loadingKel = true
      axios.post("/ektp-kel", {no_prop: this.data.src_prov.no_prop, no_kab: this.data.src_kab.no_kab, no_kec: this.data.src_kec.no_kec })
      .then(response => {
        this.kelurahan = response.data.kelurahan;
        this.loadingKel = false
      })
      .catch(error => {
        this.loadingKel = false
      });
    },
    getDestKel() {
      this.loadingDestKel = true
      axios.post("/ektp-dest-kel", {prov: this.data.prov, kab: this.data.kab, no_kec: this.data.kec.no_kec })
      .then(response => {
        this.destKelurahan = response.data.kelurahan;
        this.loadingDestKel = false
      })
      .catch(error => {
        this.loadingDestKel = false
      });
    },
    async submit () {
      this.loading = true
      // const isValid = await this.$validator.validateAll();
      // if (!isValid) {
      //   this.loading = false
      //   this.dialog = false
      //   this.text = "Tidak dapat menyimpan data, periksa kembali data yang anda masukan."
      //   this.snackbar = true
      //   return false;
      // } else {
      //   if(this.imgupload1 === null){
      //     this.e1 = 2
      //     this.loading = false
      //     this.dialog = false
      //     this.text = "Pas Foto tidak boleh kosong."
      //     this.snackbar = true
      //     return false;
      //   }else if(this.imgupload2 === null){
      //     this.e1 = 2
      //     this.loading = false
      //     this.dialog = false
      //     this.text = "KTP-el tidak boleh kosong."
      //     this.snackbar = true
      //     return false;
      //   }else if(this.imgupload3 === null){
      //     this.e1 = 2
      //     this.loading = false
      //     this.dialog = false
      //     this.text = "Kartu Keluarga tidak boleh kosong."
      //     this.snackbar = true
      //     return false;
      //   }else if(this.imgupload4 === null){
      //     this.e1 = 2
      //     this.loading = false
      //     this.dialog = false
      //     this.text = "Surat Pengantar tidak boleh kosong."
      //     this.snackbar = true
      //     return false;
      //   }else{
          //
          // this.cekData.nik = this.data.nik;
          // axios.post("/cek-nik", this.data).then(response => {
          //   if(response.status == 'error'){
          //     this.loading = false
          //     this.dialog = false
          //     this.text = response.status.data
          //     this.snackbar = true
          //     return false;
          //   } else {
              let formData = new FormData();
              formData.append("nik", this.data.nik);
              // formData.append("no_kk", this.data.nik);
              formData.append("no_skts", "1");
              formData.append("nama_lgkp", this.data.nama_lgkp.toUpperCase());
              formData.append("tmpt_lhr", this.data.tmpt_lhr.toUpperCase());
              formData.append("tgl_lhr", this.date);
              formData.append("jenis_klmin", this.data.jenis_klmin.no);
              formData.append("agama", this.data.agama.no);
              formData.append("stat_kwn", this.data.stat_kwn.no);
              formData.append("gol_drh", this.data.gol_drh.no);
              formData.append("pendidikan", this.data.pendidikan.no);
              formData.append("pekerjaan", this.data.pekerjaan.no);

              formData.append("src_prov", this.data.src_prov.no_prop);
              formData.append("src_kab", this.data.src_kab.no_kab);
              formData.append("src_kec", this.data.src_kec.no_kec);
              formData.append("src_kel", this.data.src_kel.no_kel);
              formData.append("src_alamat", this.data.src_alamat.toUpperCase());
              formData.append("src_rt", this.data.src_rt);
              formData.append("src_rw", this.data.src_rw);

              formData.append("kec", this.data.kec.no_kec);
              formData.append("kel", this.data.kel.no_kel);
              formData.append("alamat", this.data.alamat.toUpperCase());
              formData.append("no_rt", this.data.rt);
              formData.append("no_rw", this.data.rw);

              formData.append("imgupload1", this.imgupload1);
              formData.append("imgupload2", this.imgupload2);
              formData.append("imgupload3", this.imgupload3);
              formData.append("imgupload4", this.imgupload4);
              formData.append("password", this.data.telepon);
              formData.append("telepon", this.data.telepon);
              formData.append("email", this.data.email);
              formData.append("status", "1");
              formData.append("jenis_layanan", "2");
              axios.post("/epunten", formData, {
                headers: { "Content-Type": "multipart/form-data" }
              }).then(response => {
                this.loading = false
                this.dialog = false
                this.dialogSukses = true
                // this.text = "cpba."
                // this.snackbar = true
              }).catch(function() {
                this.loading = false
                this.dialog = false
              });
          //   }
          // });
        }
      // }
    },
    clear () {
      this.name = ''
      this.email = ''
      this.select = null
      this.checkbox = null
      this.$validator.reset()
    },
    formatDate (date) {
      if (!date) return null

      const [year, month, day] = date.split('-')
      return `${day}/${month}/${year}`
    },
    parseDate (date) {
      if (!date) return null

      const [day, month, year] = date.split('/')
      return `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`
    // }
  },
};
</script>

<style scoped>

</style>
<style>
.upper input {
  text-transform: uppercase;
}
.upper textarea {
  text-transform: uppercase;
}
.berkas {
  width: 100%;
  height: 200px;
  display: block;
  cursor: pointer;
}
.tab {
  margin-left: 20px;
}
</style>
